services:
  iptables-server:
    build: ./iptables-server
    container_name: iptables_server
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "8080:80"
    networks:
      wan:
        ipv4_address: 172.29.0.20

  waf-server:
    build: ./waf-server
    container_name: waf_server
    cap_add:
      - NET_RAW
    ports:
      - "8081:80"
    networks:
      wan:
        ipv4_address: 172.29.0.21

  attacker:
    build: ./attacker
    container_name: attacker
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      wan:
        ipv4_address: 172.29.0.10
    command: ["bash", "-c", "ip route add 172.30.0.0/24 via 172.29.0.254 dev eth0 || true; tail -f /dev/null"]

  firewall:
    build: ./firewall
    container_name: firewall
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
    networks:
      wan:
        ipv4_address: 172.29.0.254
      dmz:
        ipv4_address: 172.30.0.254

  honeypot:
    build: ./opencanary
    container_name: honeypot
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    depends_on:
      - firewall
    networks:
      dmz:
        ipv4_address: 172.30.0.10

  siem:
    image: wazuh/wazuh-manager:4.14.1
    container_name: siem
    hostname: siem
    depends_on:
      - firewall
    networks:
      dmz:
        ipv4_address: 172.30.0.60
    volumes:
      - ./siem/ossec.conf:/var/ossec/etc/ossec.conf
    ports:
      - "55000:55000"   # Wazuh API
      - "1514:1514/udp" # Wazuh agent input
      - "514:514/udp"   # Syslog input

networks:
  wan:
    driver: bridge
    ipam:
      config:
        - subnet: 172.29.0.0/24
          gateway: 172.29.0.1
  dmz:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
          gateway: 172.30.0.1
